@*
    Copyright © 2022-Present The Open Human Task Specification Authors. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@page "/tasks/templates/{taskTemplateId}"
@attribute [Authorize]
@inherits StatefulComponentBase<HumanTaskTemplateState>
@inject NavigationManager NavigationManager
@inject IBreadcrumbManager BreadcrumbManager

<PageTitle>@taskTemplateId</PageTitle>

<LeftMenu>
    <button class="btn btn-outline-dark" @onclick="OnCreateNewHumanTask">Create new instance</button>
</LeftMenu>

@code {

    private IDisposable? subscription;
    private HumanTaskTemplate? humanTaskTemplate;

    private string taskTemplateId = null!;
    [Parameter] public string TaskTemplateId { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.BreadcrumbManager.Use(Breadcrumbs.HumanTaskTemplates);
        this.BreadcrumbManager.AddItem(new BreadcrumbItem(this.TaskTemplateId.ToString(), $"/tasks/templates/{this.TaskTemplateId}"));
        this.subscription = this.Feature
            .Subscribe(state =>
            {
                this.humanTaskTemplate = state.HumanTaskTemplate;
                this.StateHasChanged();
            });
        this.Dispatcher.Dispatch(new GetHumanTaskTemplateById(this.TaskTemplateId));
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        var updated = false;
        if (this.taskTemplateId != this.TaskTemplateId)
        {
            this.taskTemplateId = this.TaskTemplateId;
            updated = true;
        }
        if (!updated) return;
        this.StateHasChanged();
    }

    void OnCreateNewHumanTask()
    {
        this.NavigationManager.NavigateTo($"/tasks/templates/{taskTemplateId}/create");
    }

}
