@*
    Copyright © 2022-Present The Open Human Task Specification Authors. All rights reserved.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@inherits LayoutComponentBase
@namespace OpenHumanTask.Runtime.Dashboard.Components

<div class="page h-100 d-flex flex-column">

    <MainMenu />

    <div class="main p-4 d-flex flex-column flex-grow-1">

        <Breadcrumb />

        <div class="w-100 flex-grow flex-lg-row flex-column d-flex">

            <LeftMenuRenderer />

            <div class="content flex-grow-1">
                @Body
            </div>

        </div>

    </div>
    
    <Footer />

</div>
